<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rit.csh.androidwebnews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.rit.csh.androidwebnews.NewsgroupsListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.rit.csh.androidwebnews.DisplayThreadsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.rit.csh.androidwebnews.PostActivity"
            android:label="@string/title_activity_post" >
        </activity>
        <activity
            android:name="edu.rit.csh.androidwebnews.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="edu.rit.csh.androidwebnews.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="edu.rit.csh.androidwebnews.InfoActivity"
            android:label="@string/title_activity_info_activity1" >
        </activity>
        <activity
            android:name="edu.rit.csh.androidwebnews.PostSwipableActivity"
            android:label="@string/title_activity_post_swipable" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>